.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38em;
    padding-top: 12em;
}
h1 {
    color: black;
}
h4 {
    color: grey;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
.circular-container {
    width: 15em;
    height: 15em;
    margin-right: 4em;
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
    overflow: hidden; /* Ensure the image is clipped to the circular shape */
}

.circular-container img {
    width: 100%; /* Make the image fill the circular container */
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
}
.icon {
    cursor: pointer;
    height: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 9em;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}
