<div class="home">

    <div style="display: flex; margin-bottom: 6em;">
        <div class="circular-container">
            <img src="../../assets/vny.jpeg" alt="Circular Image">
        </div>

        <div>
            <div class="title">
                <h4>Hello I'm</h4>
                <h1>Vinay Faye</h1>
                <h5> Software Developer</h5>
            </div>
            <div class="btn-container">
                <button class="btn btn-color-2" onclick="window.open('./assets/resume-example.pdf')">
                    Download CV
                </button>
                <button class="btn btn-color-1" onclick="location.href='./#contact'">
                    Contact Info
                </button>
            </div>
            <div id="socials-container">
                <img src="../../../assets/linkedin.png" alt="My LinkedIn profile" class="icon"
                    onclick="location.href='https://www.linkedin.com/in/vinay-faye-7412041b0/'" />
                <img src="../../../assets/github.png" alt="My Github profile" class="icon"
                    onclick="location.href='https://github.com/vinayfaye'" />
            </div>
        </div>
    </div>
</div>