<div class="overview">
    <div class="scrollable-content">
        <section id="Home" class="Home">
            <app-home></app-home>
        </section>

        <section id="About" class="About">
            <app-about></app-about>
        </section>

        <section id="Skills" class="Skills">
            <app-skills></app-skills>
        </section>

        <section id="Education" class="Education">
            <app-education></app-education>
        </section>

        <section id="Experience" class="Experience">
            <app-experience></app-experience>
        </section>

        <section id="Contact" class="Contact">
            <app-contact></app-contact>
        </section>

    </div>
</div>